.film-container {
  max-width: 300px;
  max-height: 200px;
  display: flex;
  column-gap: 50px;
  margin: 50px;
  justify-content: space-between;
}

.film-item-1 img {
  height: 60vh;
}

.film-item-2 {
  height: 30vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}


textarea {
  width: 100%; 
  padding: var(--espace-md); 
  border: 2px solid var(--secondaire); 
  border-radius: 5px; 
  font-family: var(--font-principale); 
  font-size: var(--espace-lg); 
}

/* Style pour le survol */
textarea:hover {
  border-color: var(--primaire); /* Couleur de la bordure au survol */
}

/* Style pour le focus */
textarea:focus {
  border-color: var(--accent); /* Couleur de la bordure lorsqu'il a le focus */
  outline: none; /* Suppression de la bordure de focus par défaut */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre légère */
}

h2 {
  margin: var(--espace-md);
}