:root {
    --space-base: 5px;

    --espace-xs: 4px;
    --espace-sm: 8px;
    --espace-md: 12px;
    --espace-lg: 16px;
    --espace-xl: 24px;
    --espace-xxl: 32px;
    --espace-xxxl: 64px;

    --primaire: #d0d6d6;
    --secondaire: #86b9b0;
    --accent: #4c7273;
    --tertiaire: #042630;
    --quaternaire: #041421;


}